<html>
   <body>
        <h1 style="color:blue;font-family:verdana;">San Migration Discovery</h1>
        <p style="font-family:verdana;">Hostname,Storage_Array,LDEV,Size,Function,Device,Slice,MPName,Group,Logical Name</p>
        <p style="font-family:verdana;">{{ result }}</p>
   </body>
</html>