<html>
<head>
<style>
#t1 {
    -moz-tab-size: 4; /* Firefox */
    -o-tab-size: 4; /* Opera 10.6-12.1 */
    tab-size: 4;
}
#t2 {
    -moz-tab-size: 16; /* Firefox */
    -o-tab-size: 16; /* Opera 10.6-12.1 */
    tab-size: 16;
}
div {
    background-color: white;
    width: 600px;
    border: 1px solid red;
    padding: 25px;
    margin: 1px;
}
</style>
</head>
<body style='font-family:verdana;background-color:lightgrey;'>
<h2 style="color:tomato;">Output of the selected MySQL Query</h2>
<!-- <div align="center"> -->
<div>
<br>
{% for item in data %}
<tr>
<pre id="t2">
Hostname	:	<td>{{item[0]}}</td>
Storage_Array	:	<td>{{item[1]}}</td>
LDEV	:	<td>{{item[2]}}</td>
Size	:	<td>{{item[3]}}</td>
Function	:	<td>{{item[4]}}</td>
Device	:	<td>{{item[5]}}</td>
Slice	:	<td>{{item[6]}}</td>
MPName	:	<td>{{item[7]}}</td>
Group	:	<td>{{item[8]}}</td>
Logical	:	<td>{{item[9]}}</td>
</tr>
{% endfor %}
</pre>
</div>
</body>
</html>
