<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}


<form action="/login" method="POST">
        <div class="login">
                <div class="login-screen">
                        <div class="app-title">
                                <h1>DataBase Login</h1>
                        </div>

                        <div class="login-form">
                                <div class="control-group">
                                <input type="text" class="login-field" value="" placeholder="hostname" name="hostname">
                                <label class="login-field-icon fui-user" for="host-name"></label>
                                </div>

                                <div class="control-group">
                                <input type="text" class="login-field" value="" placeholder="username" name="username">
                                <label class="login-field-icon fui-user" for="login-name"></label>
                                </div>

                                <div class="control-group">
                                <input type="password" class="login-field" value="" placeholder="password" name="password">
                                <label class="login-field-icon fui-lock" for="login-pass"></label>
                                </div>
								
								<div class="control-group">
                                <input type="databasename" class="login-field" value="" placeholder="databasename" name="databasename">
                                <label class="login-field-icon fui-lock" for="login-pass"></label>
                                </div>

                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
                            <br>
                        </div>
                </div>
        </div>
</form>

{% endif %}
{% endblock %}
